<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This webb app enables submitting book reviews and ratings to its subscribed members. Great help was Michael Hartl`s <a href=http://ruby.railstutorial.org/>Ruby on Rails Tutorial</a>. Also <a href="http://edgeguides.rubyonrails.org/">Ruby on Rails Guides</a> proved invaluable in providing useful insight into the magic of Rails.
</p>
