<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  This webb app enables submitting book reviews and ratings to its subscribed members. Great help was Michael Hartl`s <a href=http://ruby.railstutorial.org/>rails tutorial</a>. 
</p>
