
  <li>
    <span id="name"><%= link_to user.name, user %></span>
    <% if current_user.admin? && !current_user?(user)%> 
   <span id="delete">  <%= link_to "delete", user, method: :delete, data: {confirm: "Are you absolutely sure?"} %></span>
    <% end %>
  </li>

