<li>
<div class="well">
  <span class="post_owner"><%= post.user.name %>: </span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Submitted <%= post.created_at.localtime.to_s :long %> 
  </span>
</div>
</li>
